Package: komutan-icons
Version: 0.1
Architecture: all
Maintainer: Aydin Yakar <aydin@komutan.org>
Section: info
Priority: optional
Homepage: http://www.komutan.org/
Description: Icons for Komutan Linux
